.quick-look__wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  max-width: 90%;
  max-height: 90%;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 16px;
  display: none;
  overflow-y: auto;
}

.quick-look__wrapper.active {
  display: block;
}

.quick-look__close-btn {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid #0000008c;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
